body,
h1,
h2,
h3,
h4,
h5 {
    font-family: "Raleway", sans-serif
}
body{
    height: 100%;
}
img{
    justify-content: center;
}
.section_welcome{
    text-align: center;
    margin-top: 50vh;
    transform: translateY(-50%);
}